@use "../../../../utils";

.area {
  margin: 0.3rem 0 0.3rem 0;
  border: 1px solid utils.$secondary-grey-color;
  @include utils.flex-row;
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 5px;
}

.area:hover {
  border: 1px solid black;
}
