.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titles {
  padding-top: 25vh;
  font-size: 4rem;
  font-weight: bold;
}
.title1 {
  color: darkgrey;
}

span,
.title2 {
  color: green;
}

.home--welcome {
  padding: 5vh 0;
  color: darkgrey;
  font-size: 1.5rem;
}

.home--progress {
  font-weight: bold;
  padding-bottom: 5vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.home--link {
  padding: 0.5rem;
  font-weight: bold;
}

.home--link:hover {
  background-color: green;
  border-radius: 15px;
  color: white;
}
