@use "../../../../utils";

.diary-areas-container {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.diary-todolist--clearbuttons {
  display: flex;
  @include utils.flex-row;
  gap: 50%;
  justify-content: center;
}
