.todo {
  padding: 0.5rem 2rem;
  outline: 1px solid darkgrey;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 8fr 4fr;
  font-size: 1.2rem;
  text-align: left;
  margin: 0.7rem 0;
}

.todo:hover {
  transform: scale(1.01);
  outline: 2px solid darkgrey;
}

.todo-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .todo {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  .todo-buttons {
    padding-top: 0.5rem;
    justify-content: flex-start;
  }
}
