@use "../../utils";

.time-today {
  color: utils.$constrast-green-color;
  font: 1.5rem bold;
  padding-bottom: 0.5rem;
}

.time-date {
  padding-bottom: 0.5rem;
  color: utils.$secondary-grey-color;
}

.time-time {
  font: 1.5rem bold;
}
