.diary {
  padding: 2rem 10rem 0rem 10rem;
  text-align: center;
}

.diary--links {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.diary--linkitem {
  padding: 0.5rem;
  font-weight: bold;
  border: 1px solid green;
  border-radius: 15px;
}

.diary--linkitem:hover {
  background-color: green;
  border-radius: 15px;
  color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .diary {
    padding: 2rem 3rem 3rem 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .diary {
    padding: 1rem 2rem;
  }
}
