.analytics {
  padding: 2rem 10rem 0rem 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total {
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.results-area {
  margin: 1.5rem 0;
}

.analytics-chart {
  margin: 3rem 5rem;
}

.analytics--button {
  margin-bottom: 3rem;
}

.analytics-empty-link {
  color: green;
  font: 1.5rem bold;
  padding: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .analytics {
    padding: 2rem 3rem 0rem 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .analytics {
    padding: 1rem 1rem 0rem 1rem;
  }
}
