.analytics {
  padding: 2rem 10rem 0rem 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total {
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.results-area {
  margin: 1.5rem 0;
}

.analytics-chart {
  margin: 3rem 5rem;
}

.analytics--button {
  margin-bottom: 3rem;
}
